.my-item-page {
  background: #f8f8f8;
}

.title-content {
  width: 100vw;
  background-image: image-url('sachiale-header02.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.page-title {
  font-size: 8vh;
}

.page-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.item-show {
  background-color: #f8f8f8;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 5vh 0;
  overflow: scroll;
}

.item-list{
  width: 800px;
  height: 120px;
  display: flex;
  border: 2px solid #f0f05a;
  margin-bottom: 5px;
  color: black;
}

.item-list>.item-image{
  width: 20vw;
  height: 100%;
  border-right: 1px solid #f0f05a;
}

.item-detail{
  width: 80vw;
  height: 100%;
}

.item-detail>.item-name{
  font-size: 40px;
  height: 50%;
  padding-left: 20px;
  border-bottom: 2px solid black;
}

.bottom-item-detail{
  display: flex;
}

.open-date{
  width: 65%;
  height: 100%;
  font-size: 35px;
  padding-left: 20px;
}

.amount{
  width: 35%;
  height: 100%;
  font-size: 35px;
  padding-left: 30px;
}

.links {
  width: 100%;
}

.new-item{
  width: 50%;
  display: flex;
  justify-content: center;
}

.buy-list{
  width: 50%;
  display: flex;
  justify-content: center;
}

.page-change-btn {
  font-size: 30px;
  text-decoration: none;
  color: #3CCACE;
}