a {
  text-decoration: none;
}

.main {
  background: #f8f8f8;
}

/* 画面上部の「人生を変えるフリマアプリ」帯部分 */
.title-contents {
  width: 100vw;
  background-image: image-url('sachiale-header.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top center;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding: 5vh 15vw;
  color: #fff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.9);
}

.service-title {
  font-size: 8vh;
}

.service-explain {
  font-size: 2.5vh;
  line-height: 40px;
}

.store-btn {
  display: flex;
  margin-top: 24px;
}

.apple-btn {
  margin-right: 1vw;
  height: 9vh;
}

.google-btn {
  height: 9vh;
}

/* //画面上部の「人生を変えるフリマアプリ」帯部分 */

/* サービス概要表示部分 */
.container{
  box-sizing: border-box;
}

.service{
  width: 750px;
  height: 350px;
  border: 2px solid lightblue;
  margin: 20px auto;
  position: relative;
  display: block;
}

.icon-holder{
  width: 100px;
  height: 100px;
  position: absolute;
  top: 30px;
  left: 325px;
  margin-bottom: 40px;
  padding: 10px;
  background: #f8f8f8;
}

.service-icon{
  width: 100px;
  height: 100px;
}

.service-heading{
  background-color: yellow;
  position: absolute;
  top: 150px;
  left: 335px;
}

.description{
  position: absolute;
  top: 190px;
  left: 80px;
  right: 80px;
  display: none;
}


/* //サービス概要表示部分 */

/* 商品一覧 */

.item-contents {
  background-image: image-url('sachiale-recipe.png');
  background-attachment: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10vh 0;
}

.item-contents>.title {
  font-size: 5vh;
  line-height: 1.4;
  font-weight: bold;
}

.item-contents>.subtitle {
  font-size: 3vh;
  margin: 1vh 0;
  text-decoration: none;
  color: #ff524e;
  font-weight: bold;
}

.item-lists {
  width: 100vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.item-lists>.list {
  width: 37vh;
  padding: 1vw;
  background-color: #ffc87c;
  border: 1px solid black;
  margin-left: 10px;
}


.item-img-content {
  position: relative;
}

.item-img {
  width: 33vh;
  height: 33vh;
}

.item-info {
  background-color: #FFF;
  color: black;
  padding: 1vw;
}

.item-name {
  font-size: 2.5vh;
}

.star-btn {
  display: flex;
  align-items: center;
}

.star-icon {
  height: 2vh;
  width: 2vh;
  margin-right: 0.5vw;
}

.star-count {
  font-size: 2vh;
}

/* //商品一覧 */